doctype html 
html 

    head 
        title=`Server Error ${error.status}` 
        link(rel='stylesheet', href='/stylesheets/style.css')
    body 
        h1= `Server Error ${error.status}`
        p= error.message
